@model IEnumerable<CryptoPulse.Models.Coin>
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/images/gag.png" class="card-img-top" alt="..." style="height: 19rem;">
                <div class="card-body" style="height: 12rem;">
                    <p class="card-text">I am Venkata Sai Gagan Deep Alusuri. I worked on ideation, API discovery for this project. I worked on the Home Controller.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/images/vin.jpeg" class="card-img-top" alt="..." style="height: 19rem;">
                <div class="card-body" style="height: 12rem;">
                    <p class="card-text">I am Vineeth Lanka, and I've worked on creating the Exchange and Market pages along with their JS files.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/images/yas.png" class="card-img-top" alt="..." style="height: 19rem;">
                <div class="card-body" style="height: 12rem;">
                    <p class="card-text">I am Yashwanthika Chilukuri, and I've worked on creating the Index and the Signup HTML Pages and also their corresponding JS files.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/images/man.png" class="card-img-top" alt="..." style="height: 19rem;">
                <div class="card-body" style="height: 12rem;">
                    <p class="card-text">I am Manoj Arsada, and I contributed to the styling and CSS of the website, as well as framing the data model for this project.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 text-center">
    <hr class="my-4" style="border-width: 2px;"> <!-- Thicker line -->
    <h2 class="mb-4">Entity Relationship Diagram of the Data Model</h2>
    <img src="~/images/datadiag.jpeg" class="img-fluid" style="max-width: 50%;" alt="...">
</div>

<div class="container mt-3 text-left">
    <hr class="my-4" style="border-width: 2px;"> <!-- Thicker line -->
    <h2 class="mb-4">API Links and Repository</h2>
    <p>The API links used:</p>
    <ul>
        <li>Tickers (All coins)- <a href="https://api.coinlore.net/api/tickers/">https://api.coinlore.net/api/tickers/</a></li>
        <li>Get Markets For Coin -  <a href="https://api.coinlore.net/api/coin/markets/?id=90">https://api.coinlore.net/api/coin/markets/?id=90</a></li>
        <li>All Exchanges - <a href="https://api.coinlore.net/api/exchanges/">https://api.coinlore.net/api/exchanges/</a></li>
    </ul>
    <p>Github Repository link- <a href="https://github.com/GaganDeepAlusuri/CryptoPulse">https://github.com/GaganDeepAlusuri/CryptoPulse</a></p>
</div>

