@model IEnumerable<CryptoPulse.Models.Coin>
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/images/gag.png" class="card-img-top" alt="..." style="height: 19rem;">
                <div class="card-body" style="height: 12rem;">
                    <p class="card-text">I am Venkata Sai Gagan Deep Alusuri. I worked on ideation, API discovery for this project, and also designed the index and coin HTML pages along with their JavaScript files.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/images/vin.jpeg" class="card-img-top" alt="..." style="height: 19rem;">
                <div class="card-body" style="height: 12rem;">
                    <p class="card-text">I am Vineeth Lanka, and I've worked on creating the Exchange and Market pages along with their JS files.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/images/yas.png" class="card-img-top" alt="..." style="height: 19rem;">
                <div class="card-body" style="height: 12rem;">
                    <p class="card-text">I am Yashwanthika Chilukuri, and I've worked on creating the Index and the Signup HTML Pages and also their corresponding JS files.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/images/man.png" class="card-img-top" alt="..." style="height: 19rem;">
                <div class="card-body" style="height: 12rem;">
                    <p class="card-text">I am Manoj Arsada, and I contributed to the styling and CSS of the website, as well as framing the data model for this project.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-3 text-center">
    <hr class="my-4" style="border-width: 2px;"> <!-- Thicker line -->
    <h2 class="mb-4">Entity Relationship Diagram of the Data Model</h2>
    <img src="~/images/datadiag.jpeg" class="img-fluid" style="max-width: 50%;" alt="...">
</div>
